/*

.formHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
}

.formHeader h2 {
    font-weight: bold;
    width: 6rem;
}

.button {
    width: 3rem;
}

.formBody {
    margin: auto;
    width: 50%;
    min-width: 300px;
    border: 0.1rem solid black;
}

.formBody img {
    width: 100%;
}

.center {
    text-align: center;
}

.margin {
    margin: 0.5rem;
}

.padding {
    padding: 0.5rem;
}

.bold {
    font-weight: bold;
}

.grey {
    background-color: #bfbebe;
}

.half {
    width: 50%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin: 0.5rem;
    width: 80%;
    height: 5rem;
    text-align: center;
}

*/