.button {
    padding: 0.8rem;
    margin: 0.5rem;
    background-color: #ea004b;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(234, 0, 75, .2);
    color: #ea004b;
}

.center {
    text-align: center;
}

.margin {
    margin: 0.5rem;
}

.padding {
    padding: 0.5rem;
}

.bold {
    font-weight: bold;
}

.grey {
    background-color: #bfbebe;
}

.half {
    width: 50%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 80%;
    height: 5rem;
    border-color: #ea004b;
    border-radius: 0.5rem;
}

.input {
    font-size: 1rem;
    padding: 0.6rem;
    margin: 0.5rem;
    border-color: #ea004b;
    border-radius: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}

.header h2 {
    font-size: 2rem;
    font-weight: bold;
    width: 6rem;
}

.header .button {
    width: 5rem;
}

.mainPhoto img {
    width: 100%;
    height: 50vh;
    margin-bottom: 5vh;
}

.centered {
    color: white;
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    background-color: #ea004b;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.mainPhoto button:hover {
    background-color: rgb(234, 0, 75, .5);
}

.mainBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

.mainBody div {
    text-align: center;
}

.mainBody img {
    border-radius: 2rem;
}

.mainBody h3 {
    font-size: 1.2rem;
}

.formBody {
    margin: auto;
    width: 50%;
    min-width: 300px;
    border: 0.2rem solid #ea004b;
    margin-bottom: 5vh;
    border-radius: 1rem;
    color: #ea004b;
}

.formBody label {
    color: black;
    font-style: italic;
}

.formBody img {
    width: 100%;
}

.siparis {
    width: 25%;
    color: white;
    margin: auto;
    border-radius: 1rem;
    background-color: #ea004b;
    padding: 1rem;
    text-align: center;
}

input {
    accent-color: #ea004b;
}